* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  
  html {
    
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  

  
  
  .subtle {
    color: #aaaaaa;
  }
  
  .main-card--cointainer {
    margin:20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
  
    
  }
  
  .card-container {
    margin: 55px auto 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .card-container img {
    max-width: 100%;
    height: 140px;
  }
  
  .card {
    background-color: #fff;
    /*border-radius: 10px 100px/120px 100px;*/
    border-radius: 40px;

    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
    z-index: 1;
  }
  
  .card-body {
    display: inline-block;

  }
  
    
  .card-title {
    color: #1b2430;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
    text-transform: capitalize;
    text-align: center;
  }
  
  .card-description {
    /* display: inline-block; */
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }
  
  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    background-color: grey;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 59%;
  }
  
  .card-tag {
    margin-left: 180px;
    border: 1px solid #17cf97;
    margin-top: 40px;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration: none;
    color:#1b2430;
    border-radius: 10px 100px/120px 100px;
    text-align: center;
    
    
  }
 
 /* a:hover{
    text-decoration: none;
    background: #17cf97;
    color:white;

  }*/
  
  .card-tag:hover {
    background: #17cf97;
    color:white;
    text-decoration: none;

  }
  
 /* .card-media {
    max-width: 100%;
    height: auto;
  }*/
  
  .card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
      0 0 100px 3px rgba(0, 0, 0, 0.25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
  }
  
  @media (max-width: 998px) {
    .main-card--cointainer {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 500px));
      grid-gap: 50px;
      justify-content: space-around;
    }
  }
  
  
  .card-img-top{
    transform:scale(1);
    transition:transform 0.2s ease;
}

.card-img-top:hover{
    transform:scale(1.3);
}
.overflow{
  overflow: hidden;
}



/****** NavService of service  *******/
.NavService {
  padding: 50px;
  text-align: center;
  background-color: #fff;
  margin-bottom:0px ;
  justify-content: center;
}

.NavService h1 {
  padding-bottom: 20px;
  text-transform: capitalize;
  
}

/** button group styles **/
.btn-service{
  border-radius: 1rem;
  text-transform: capitalize;
}
.btn-service-category {
  border: none;
  /* min-width: 6rem; */
  padding: 1.5rem 3rem;
  background-color: #dcf6e0;
  cursor: pointer;
  margin: 0;
  font-size: 17px;
  box-shadow: inset 0px 0px 0px -15px #17cf97;
  transition: all 300ms ease-out;
  text-transform: capitalize;
}
.btn-service-category:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.btn-service-category:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.btn-service-category:hover,
.btn-service-category:focus {
  color:#17cf97;
  box-shadow: inset 0px -20px 0px -15px #17cf97;
}
.btn-service-category:focus {
  outline: none;
}
.btn-service-category:after {
  content: "✔️";
  margin-left: 0.5rem;
  display: inline-block;
  color: #17cf97;
  position: absolute;
  transform: translatey(10px);
  opacity: 0;
  transition: all 200ms ease-out;
}
.btn-service-category--active:after {
  opacity: 1;
  transform: translatey(-2px);
}

